name: Publish

on:
  push:
    branches: [ "master" ]

jobs:
  deploy:

    runs-on: macos-12

    steps:
    - uses: actions/checkout@v3
    - uses: swift-actions/setup-swift@v1
      with:
        swift-version: "5.6.1"
    - name: Generate
      run: swift run
    - name: Copy files
      run: |
        mkdir .public
        cp -r Output/* .public
        mv .public public
    - name: Upload generated files
      uses: actions/upload-artifact@main
      with:
        name: github-pages
        path: public